body {   
    height: 100vh;
  }
  #login .container #login-row #login-column .login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 370px;
    background:#B62025;
	    color: #FFF;
   
  }
  #login .container #login-row #login-column .login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column .login-box #login-form #register-link {
    margin-top: -85px;
  }